python
ffmpeg
shaka-package-bin
bento4
aria2
yt-dlp
python-tqdm
python-requests
python-dotenv
python-protobuf
python-webvtt-py
python-pysrt
python-m3u8
python-colorama
python-bitstring
python-beautifulsoup4
python-six
python-pathvalidate
python-coloredlogs
python-browser-cookie3
python-demoji
python-bs4
